@font-face {
  font-family: 'Segoe UI', sans-serif;
  src: url('fonts/Segoe\ UI.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1c1c1c;
  display: flex;
  position: relative;
}

.right-head{
  position: relative;
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  padding: 10px 31px 10px 24px;
  background: #fff;
  width: 100%;
  height: 60px;
}

.user{
  display: grid;
  position: relative;
  grid-template-columns: 44px 128px;
  columns: 2;
  width: 200px;
}

.user-info{
  position: absolute;
  left: 60px;
}

.avatar{
  background-image: 
  linear-gradient(#FF2424, #CC4242, #B64F4F, #826E6E);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.avatar .initials{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  height: 42px;
  color: #fff;
}

.nickname{
  font-size: 14px;
  font-weight: 600;
}

.status{
  position: relative;
  font-size: 10px;
  font-weight: 600;
  opacity: 0.6;
  margin: 2px 0px 0px 13px;
}

.status::before{
  position: absolute;
  top: 3.5px;
  left: -12px;
  content: '';
  background-color: #00ff44;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.search{
  cursor: pointer;
  position: absolute;
  right: 30px;
  align-self: center;
}
.search img{
  width: 25px;
  height: 25px;
}

.left-head{
  background-color: #fff;
  padding: 16px 24px 16px 24px;
  display: table;
  height: 60px;
  width: 360px;
}

.aside {
  background-color: #fff;
  min-height: 100vh;
  width: 360px;
}

.menu-btn{
  margin-right: 43px;
  position: relative;
  display: inline-block;
}

.menu-btn svg{
  cursor: pointer;
  position: absolute;
  top: -10px;
  color: rgb(112, 112, 112);
  width: 19px;
  height: 12px;
}

.menu-btn svg:hover{
  opacity: 0.8;
}

.menu-btn svg:active{
  opacity: 1;
}

.search-chat{
  display: table-cell;
}

.search-chat input{
  font-family: 'Segoe UI', sans-serif;
  font-weight: 600;
  font-size: 11px;
  height: 28px;
  border: none;
  border-radius: 30px;
  padding: 5px 0px 6px 15px;
  background-color: rgba(112, 112, 112, 0.3);
  color: rgba(112, 112, 112);
  width: 269px;
}

.search-chat input::placeholder{
  opacity: 0.6;
}

.window {
  background: linear-gradient(45deg, #01427a, #1695bb);
  width: calc(100% - 360px);
  height: calc(100% - 60px);
  position: absolute;
  left: 360px;
  top: 60px;
}
